footer{
    background-color: var(--section-bg);
    display: flex;
    align-items: center;
    height: auto; 
    flex-direction: column;
    row-gap: 2px;
    padding:0 20px;
}
.privacy-policy{
    width: 300px;
    display: flex;
    column-gap: 30px;
    justify-content: center;
    width: 100%;
}
.privacy-policy a{
    color: var(--text-color);
}
.privacy-policy a:hover{
    color: var(--accent-hover);
}
.social-links{
    display: flex;
    justify-content: center;
    column-gap: 30px;
    width: 100%;
}
.social-links span, .privacy-policy p{
    cursor: pointer;
} 
.visitor-counter{
    text-align: center;
    margin-top: 11px;
    font-size: 18px;
    color: var(--text-color);
}
#visitor-count{
    color: #9a3eaa;
    font-weight: bold;
}
@media(max-width: 480px){
    .visitor-counter{
        font-size: 14px;
    }
    .privacy-policy{
        flex-direction: column;
        row-gap: 10px;
    }
}