.hero-section{
    min-height: 500px;
    display: flex;
    padding: 80px 0 0 0;
    flex-wrap: wrap;
}
.hero-image-container{
    height: 100%;
    max-width: 500px;
}
.hero-image-container img{
    height: auto;
    width: 100%;
}
.hero-words-cta{
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 20px;
}
.hero-words-container{
    display: flex;
    flex: 1;
    align-items: flex-end;
}
.hero-words-container p{
    text-align: center;
    font-size: 40px;
    color: #202022;
}
.hero-cta-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
}
.get-started-button, .about-cta{
    padding: 11px 50px 11px 50px;
    background-color: #9A3EAA;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.sign-up-button{
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    color: #1897A1;
    background-color: #FFF9F9;
    border-color: #DBCBCB;
    border-width: 3px;
    border-radius: 5px;
    border-style: solid;
    cursor: pointer;
}
@media (hover: hover){
    .get-started-button:hover, .about-cta:hover{
        background-color: #9f46af;
    }
    .sign-up-button:hover{
        border-color: #a09696;
    }
}

.about-section{
    display: flex;
    background-color: #F9F6F6;
    height: auto;
    flex-wrap: wrap;
}
.about-words-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
}
.about-words{
    display: flex;
    flex-direction: column;
    flex: 1;
    row-gap: 30px;
}
.about-subtitle{
    text-align: center;
    color: #9A3EAA;
    font-size: 25px;
    margin-bottom: 5px;
}
.about-text{
    font-size: 20px;
    font-family: Roboto, Arial;
}
.about-cta-container{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.about-photo-container{
    width: auto;
    padding:5px 100px 5px 50px;
}
.about-photo{
    height: auto;
}

.products-section{
    display: flex;
    flex-direction: column;
    /* height: auto; */
    width: 100%;
    padding: 20px;
}
.products-toggle{
    background-color: transparent;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2px;
}
.toggle-button{
    padding: 10px 20px;
    background-color: #dbcbcb;
    color: #202022;
    border: none;
    border-radius: 2px;
    font-size: 17px;
    transition: background-color 0.3s;
    cursor: pointer;
}
.toggle-button.active{
    background-color: #9A3EAA;
    color: white;
}
.toggle-button:hover{
    background-color: #650775;
    color: white;
}
.product-container{
    width: 100%;
    max-width: 800px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    border: 2px solid #9A3EAA;
}
.actual-product{
    width: calc(100%/3);
    flex: 0 0 calc(100%/3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    flex-shrink: 0;
}
.product-title{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    color: #9A3EAA;
    font-size: 30px;
}
.product-info{
    /* flex: 1; */
    display: flex;
    /* padding: 10px; */
    /* flex-wrap: wrap; */
    flex-direction: row;
    column-gap: 20px;
    width: 100%;
}
.product-description-container{
    flex: 1;
    /* min-width: 200px; */
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
}
.product-description-container ul{
    list-style-position: inside;
    margin-left: 5px;
}
.product-pretitle{
    color: #9f46af;
    font-size: 20px;
}
.product-description{
    font-weight: 300;
    color: #202022;
    margin: 0 0 10px;
}
.product-image{
    flex: 1;
    padding: 10px;
    min-width: 200px;
}
.product-image img{
    width: 100%;
    height: auto;
    max-width: 300px;
    border: 3px solid #9f46af;
}
.left-scroll, .right-scroll{
    position: absolute;
    width: 40px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: #9A3EAA;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 10;
}
.left-scroll img, .right-scroll img{
    width: 24px;
    height: 24px;
    filter: invert(1) brightness(2);
}
 .left-scroll:hover, .right-scroll:hover{
    background-color: #650775;
 }
 .left-scroll{
    left: 10px;
 }
 .right-scroll{
    right: 10px;
 }
.pagination-dots{
    /* height: 40px; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    column-gap: 7px;
    margin-top: 10px;
}
.dot{
    height: 14px;
    width: 14px;
    background-color: gray;
    border-radius: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
}
.dot.active{
    background-color: #9A3EAA;
}
.product-container-inner{
    display: flex;
    transition:transform 0.3s ease-in-out;
    width: 300%;
    flex-direction: row;
}
.testimonials{
    background-color: #F9F6F6;
    /* height: auto; */
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}
.testimonials-title, .ourteam-title, .faqs-title, .chatbot-title, .form-title{
    height: 50px;
    color: #9A3EAA;
    font-size: 25px;
    text-align: center;
    padding: 10px 0;
}
.testimonials-container{
    display: flex;
    /* flex: 1; */
    flex-wrap: wrap;
    column-gap: 5px;
}
.testimonial1, .testimonial2{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 10px;
    border-radius: 8px;
    border-width: 3px;
    border-color: #9A3EAA;
    border-style: solid;
    min-width: 200px;
}

.actual-testimonial{
    flex: 1;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 20px;
}
.commentor-photo{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.commentor-info{
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #615D5D;
}
.commentor-image{
    height: 70px;
    width: 70px;
    border-radius: 100%;
}

.our-motto-container{
    background-color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.our-motto-container h1{
    font-size: 50px;
    color:#9A3EAA;
}

.our-team-section{
    background-color:#F9F6F6;
    display: flex;
    flex-direction: column;
    /* height: auto; */
    width: 100%;
    padding: 20px;
}
.our-team{
    display: flex;
    /* flex: 1; */
    flex-wrap: wrap;
    column-gap: 20px;
    padding: 20px;
}
.team-member1, .team-member2, .team-member3{
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    border-color: #9A3EAA;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    min-width: 200px;
    margin: 10px 0;
}
.member-image-container{
    height: 200px;
    margin: 20px;
}
.member-image{
    height: 100%; 
    border-radius: 100%;
}
.member-credentials{
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.member-name{
    font-size: 25px;
}
.member-role{
    font-size: 20px;
    color: #615D5D;
}
.member-bio{
    display: flex;
    align-items: center;
    padding: 0 10px 10px 10px;
}

.faq-section{
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}
.faqs-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 0 20px 20px 20px;
}
.faq-container{
    flex: 1;
    background-color: #F9F6F6;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    border-color: #9f46af;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    cursor: pointer;
    transition: border-color 0.3s, margin 0.3s;
}
.faq-container:hover{
    border-color: #650775;
    border-style: solid;
    margin: 2px;
}
.question-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.faq-question{
    flex: 1;
    font-size: 20px;
}
.faq-icon{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.faq-icon img{
    width: 24px;
    transition: transform 0.3s;
    height: 24px;
}
.faq-container.active .faq-icon img{
    transform: rotate(45deg);
}
.faq-answer{
    display: none;
    padding: 10px;
    font-size: 18px;
    color: #202022;
}
.faq-container.active .faq-answer{
    display:block;
}
.chatbot-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.chatbot-instructions{
    text-align: center;
    color: #202022;
    font-size: 16px;
    margin-bottom: 20px;
}
.chatbot-area{
    background-color: #FAF9F9;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 38px 20px 38px;
    border-color: #9f46af;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    padding:10px;
}
.messages-box{
    max-height: 500px;
    min-height: 400px;
    width: 100%;
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}
.chatbot-message{
    margin: 10px 0;
    max-width: 80%;
    font-size: 15px;
    line-height: 1.3;
}
.user-message{
    color: white;
    background-color: #9A3EAA;
    text-align: right;
    margin-left: auto;
    border-radius: 5px;
}
.bot-message{
    background-color: rgb(196, 192, 192);
    color: #202022;
    margin-right: auto;
    border-radius: 5px;
}
.input-area{
    background-color: white;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    border-color: #9f46af;
    border-radius: 30px;
    border-width: 3px;
    border-style: solid;
    padding-left: 20px;
    margin: 10px 10px 0 10px;

}
.input-box{
    flex: 1;
    min-width: 0;
    background-color: white;
    border: none;
    padding: 12px 5px 12px 5px;
    font-size: 20px;
    outline: none;
}
.input-box::placeholder{
    font-size: 20px;
    color: rgb(156, 153, 153);
}
.send-button{
    background-color: #9A3EAA;
    height: 45px;
    width: 45px;
    border-radius: 22px;
    border: none;
    margin: 5px 10px 5px 10px;
    cursor: pointer;
}
.send-button:hover{
    background-color: #650775;
}
.arrow-icon {
  filter: invert(1) brightness(2);
  height: 24px;
  width: 24px;
}
.sample-questions{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.sample-questions-title{
    color: #9A3EAA;
    font-size: 20px;
    margin-bottom: 10px;
}
.sample-btn{
    font-size: 17px;
    padding: 8px 15px;
    background-color: #650775;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}
.sample-btn:hover{
    background-color: #9A3EAA;
}
.error-message{
    color: #202022;
    background-color: #ff3737;
    padding: 10px;
    border-radius: 11px;
    margin: 10px 0;
    max-width: 80%;
}

.form-section{
    background-color: #FFF9F9;
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
}
.input-row{
    display: flex;
    align-items: start;
    column-gap: 10px;
    margin-bottom: 5px;
    flex-direction: column;
}
.input-row label{
    width: 80px;
    font-size: 20px;
    margin-top: 12px;
}
.input-message{
    margin-top: 50px;
}
.input-row input{
    width: 373px;
    padding: 12px 5px;
    border-color: #9f46af;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    outline: none;
}
input::placeholder{
    font-size: 20px;
}
textarea{
    border-color: #9f46af;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    padding: 10px;
    outline: none;
}
textarea::placeholder{
    font-size: 20px;
}
.send-form-button{
    display: flex;
    justify-content: center;
    margin-left: 80px;
}
.send-form-button input{
    padding: 8px 25px;
    background-color: #9f46af;
    color: white;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 60px;
}
.send-form-button input:hover{
    background-color: #650775;
}
.success-message{
    display: none;
    color: #2e7d32;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}
.success-message.active{
    display: block;
}

.back-to-top{
    position: fixed;
    align-items: center;
    bottom:20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #9A3EAA;
    border: none;
    border-radius: 25px;
    display: none;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s, opacity 0.3s;
}
.back-to-top:hover{
    background-color: #650775;
}
.back-to-top.show{
    display: flex;
    opacity: 1;
}
.back-to-top-icon{
    width: 24px;
    height: 24px;
    filter: invert(1) brightness(2);
}
/*tablet responsivenes*/
@media( max-width:768px ){
    .hero-section{
        min-height: 250px;
        padding: 80px 0 0 0;
    }
    .hero-words-container p{
        font-size: 30px;
    }
    .get-started-button, .sign-up-button, .about-cta{
        font-size: 18px;
        padding: 10px 40px;
    }
    .about-photo-container{
        padding: 15px;
    }
    .about-subtitle{
        font-size: 22px;

    }
    .about-text{
        font-size: 18px;
    }
    .actual-product{
        flex-direction: column;
        align-items: center;
    }
    .product-title{
        font-size: 25px;
    }
    .product-pretitle{
        font-size: 20px;
    }
    .product-image img{
        max-width: 250px;
    }
    .product-info{
        flex-direction: column;
        align-items: center;
    }
    .product-description{
        font-size: 17px;
    }
    .left-scroll, .right-scroll{
        width: 35px;
        height: 35px; 
    }
    .left-scroll img, .right-scroll img{
        width: 20px;
        height: 20px;
    }
    .dot{
        width: 8px;
        height: 8px;
    }
    .chatbot-section{
        padding: 15px;
    }
    .chatbot-title{
        font-size: 22px;
    }
    .chatbot-area{
        margin: 0 20px 15px 20px;
    }
    .input-box, .input-box::placeholder{
        font-size: 18px;
    }
    .sample-btn{
        font-size: 15px;
    }
    .testimonials-title, .ourteam-title, .faqs-title,.form-title{
        font-size: 22px;
    }
    .testimonials-container{
        flex-direction: column;
    }
    .our-motto-container h1{
        font-size: 28px;
    }
}

/*Mobile responsiveness*/

@media (max-width: 480px){
    .hero-section{
        min-height: 200px;
        padding: 80px 0 0 0;
    }
    .hero-words-container p{
        font-size: 24px;
    }
    .get-started-button, .sign-up-button, .about-cta{
        font-size: 16px;
        padding: 8px 30px;
        width: 100%;
    }
    .about-section{
        padding: 10px;
    }
    .about-words-container{
        padding: 10px;
    }
    .about-photo-container{
        padding: 10px;
    }
    .motto{
        font-size: 14px;
    }
    .about-subtitle{
        font-size: 20px;
    }
    .about-text{
        font-size: 16px;
    }
    .products-section{
        padding: 10px;
    }
    .products-toggle{
        height: 40px;
    }
    .product-container{
        flex-direction: column;
    }
    .our-motto-container h1{
        font-size: 20px;
        text-align: center;
    }
    .product-info{
        padding: 10px;
    }
    .product-description-container, .product-image{
        min-width: 100%;
    }
    .left-scroll, .right-scroll{
        width: 100%;
        height: 40px;
        justify-content: space-between;
    }
    .product-title{
        font-size: 22px;
    }
    .chatbot-section{
        padding: 10px;
    }
    .chatbot-title{
        font-size: 20px;
    }
    .chatbot-area{
        margin: 0 10px 10px 10px;
    }
    .input-box, .input-box::placeholder{
        font-size: 15px;
    }
    .chatbot-message, .error-message{
        font-size: 14px;
    }
    .sample-btn{
        font-size: 12px;
        padding: 6px 12px;
    }
    
    .testimonials{
        padding: 10px;
    }
    .testimonials-container{
        flex-direction: column;
        padding: 5px;
    }
    .testimonial1, .testimonial2{
        margin: 5px;
    }
    .actual-testimonial{
        font-size: 16px;
    }
    .our-motto-container{
        height: 60px;
    }
    .our-motto-container h1{
        font-size: 30px;
    }
    .our-team-section{
        padding: 10px;
    }
    .our-team{
        flex-direction: column;
        padding: 10px;
    }
    .team-member1, .team-member2,.team-member3{
        margin: 5px;
    }
    .member-image-container{
        height: 100px;
    }
    .member-name{
        font-size: 20px;
    }
    .member-role{
        font-size: 16px;
    }
    .faq-section{
        padding: 10px;
    }
    .faqs-container{
        margin: 0 10px 10px 10px;
    }
    
    .chatbot-section{
        padding: 10px;
    }
    .chatbot-area{
        margin: 0 10px 10px 10px;
    }
    .faq-question {
        font-size: 16px;
    }
    .faq-icon{
        width: 40px;
    }
    .input-area{
        margin: 5px;
    }
    .input-box::placeholder{
        font-size: 16px;
    }
    .form-section{
        padding:10px;
    }
    .input-row{
        flex-direction: column;
        margin-bottom: 5px;
    }
    .input-row label{
        width: 100%;
        margin-bottom: 5px;
    }
    .input-row input, textarea{
        width: 100%;
        font-size:16px;
    }
    .input-message{
        margin-top: 10px;
    }
    
    .send-form-button input{
        font-size: 20px;
        width: 100%;
    }
    .send-form-button{
        margin: 5px 0;
    }
}