.hero-section{
    height: 500px;
    display: flex;
    flex-direction: row;
}
.hero-image-container{
    height: 100%;
}
.hero-image-container img{
    height: 100%;
}
.hero-words-cta{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.hero-words-container{
    display: flex;
    flex: 1;
    /*justify-content: flex-end;*/
    align-items: flex-end;
}
.hero-words-container p{
    text-align: center;
    font-size: 40px;
    color: #202022;
}
.hero-cta-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
}
.get-started-button, .about-cta{
    padding: 11px 50px 11px 50px;
    background-color: #9A3EAA;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.sign-up-button{
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    color: #1897A1;
    background-color: #FFF9F9;
    border-color: #DBCBCB;
    border-width: 3px;
    border-radius: 5px;
    border-style: solid;
    cursor: pointer;
}
@media (hover: hover){
    .get-started-button:hover, .about-cta:hover{
        background-color: #9f46af;
    }
    .sign-up-button:hover{
        border-color: #a09696;
    }
}

.about-section{
    display: flex;
    background-color: #F9F6F6;
    height: 500px;
}
.about-words-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
}
.about-words{
    display: flex;
    flex-direction: column;
    flex: 1;
    row-gap: 30px;
}
.about-subtitle{
    text-align: center;
    color: #9A3EAA;
    font-size: 25px;
    margin-bottom: 5px;
}
.about-text{
    font-size: 20px;
    font-family: Roboto, Arial;
}
.about-cta-container{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.about-photo-container{
    width: auto;
    padding:5px 100px 5px 50px;
}
.about-photo{
    height: 100%;
}

.products-section{
    display: flex;
    flex-direction: column;
    height: 600px;
}
.products-toggle{
    background-color: aqua;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-container{
    flex: 1;
    display: flex;
    flex-direction: row;
}
.actual-product{
    flex:1;
    display: flex;
    flex-direction: column;
}
.product-title{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    color: #9A3EAA;
    font-size: 30px;
}
.product-info{
    flex: 1;
    display: flex;
    padding: 10px 30px 10px 10px;
}
.product-description-container{
    flex: 1;
}
.product-description-container ul{
    list-style-position: inside;
    margin-left: 5px;
}
.product-pretitle{
    color: black;
    font-size: 20px;
}
.product-description{
    font-weight: 300;
}
.left-scroll, .right-scroll{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-scroll img, .right-scroll img{
    cursor: pointer;
}
.pagination-dots{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 7px;
}
.dot{
    height: 14px;
    width: 14px;
    background-color: gray;
    border-radius: 100%;
}
.testimonials{
    background-color: #F9F6F6;
    height: 400px;
    display: flex;
    flex-direction: column;
}
.testimonials-title, .ourteam-title, .faqs-title{
    height: 50px;
    color: #9A3EAA;
    font-size: 25px;
    text-align: center;
    padding: 10px 0 0 0;
}
.testimonials-container{
    display: flex;
    flex: 1;
    column-gap: 5px;
}
.testimonial1, .testimonial2{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 5px 30px 10px 50px;
    border-radius: 8px;
    border-width: 3px;
    border-color: #9A3EAA;
    border-style: solid;
}
.testimonial2{
    margin: 5px 50px 10px 30px;
}
.actual-testimonial{
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
    font-size: 20px;
}
.commentor-photo{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.commentor-info{
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #615D5D;
}
.commentor-image{
    height: 70px;
    width: 70px;
    border-radius: 100%;
}

.our-motto-container{
    background-color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.our-motto-container h1{
    font-size: 50px;
    color:#9A3EAA;
}

.our-team-section{
    background-color:#F9F6F6;
    display: flex;
    flex-direction: column;
    height: 500px;
}
.our-team{
    display: flex;
    flex: 1;
    column-gap: 20px;
    padding: 20px;
}
.team-member1, .team-member2, .team-member3{
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    border-color: #9A3EAA;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
}
.member-image-container{
    height: 200px;
    margin: 20px;
}
.member-image{
    height: 100%; 
    border-radius: 100%;
}
.member-credentials{
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.member-name{
    font-size: 25px;
}
.member-role{
    font-size: 20px;
    color: #615D5D;
}
.member-bio{
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
}

.faq-section{
    height: 400px;
    display: flex;
    flex-direction: column;
}
.faqs-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 0 20px 20px 20px;
}
.faq-container{
    flex: 1;
    background-color: #F9F6F6;
    display: flex;
    align-items: center;
    padding: 10px;
    border-color: #9f46af;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    cursor: pointer;
}
.faq-container:hover{
    border-color: #650775;
    border-style: solid;
    margin: 2px;
}
.faq-question{
    flex: 1;
    font-size: 20px;
}
.faq-icon{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}